* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: #333;
}

.wrapper {
    --size: 500px;
    width: var(--size);
    height: var(--size);
    background-color: #fff;
    margin: 0 auto;
}

.board {
    display: flex;
    flex-wrap: wrap;
    height: var(--size);
    gap: 0.5rem;
    justify-content: center;
}

.square {
    border: 1px solid #000;
    flex: 0 0 calc(var(--size) / 3 - 0.5rem);
    display: flex;
    height: calc(var(--size) / 3 - 0.5rem);
    justify-content: center;
    align-items: center;
}
